<section class="ui raised segment">
    <div class="ui segment">
        <div class="ui grid">
            <h1 class="six wide column">
                {{user.firstName}} {{user.lastName}}'s Dashboard
            </h1>
            <aside class="ten wide column">
                <h1>
                    POIs : {{user.contributedPOIs.length}}
                </h1>
            </aside>
        </div>
    </div>
    <div class="ui grid">
        <div class="ui form six wide column">
            {{> addpoiform }}
            <div class="ui raised segment">
                <form action="/addcategory" method="POST">
                    <h4 class="ui header">{{user.firstName}}'s Custom Categories</h4>
                    <table>
                        <thead>
                            <th>
                                <tr>
                                    <td>
                                        <div class="field">
                                            <input placeholder="add new category" type="text" name="name" />
                                        </div>
                                    </td>
                                    <td>
                                        <button class="ui blue submit button">+</button>
                                    </td>
                                </tr>
                            </th>
                        </thead>
                        <tbody>
                            {{#each user.customCategories}}
                                <tr>
                                    <td>
                                        {{this}}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        {{#if user.contributedPOIs}}
            {{> poilist}}
        {{else}}
            <aside class="ten wide column">
                <img src="images/map-pin.png" class="ui centered small image">
            </aside>
        {{/if}}
    </div>
</section>