<article class="ten wide column">
    <table class="ui celled table segment">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Categories</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {{#each pointsOfInterest}}
            <tr>
                <td>
                    <div>{{name}}</div>
                    <a href="/poi/{{_id}}">view</a>
                </td>
                <td> {{description}} </td>
                <td>
                    <div>Lat: {{location.lat}}</div>
                    <div>Lon: {{location.lon}}</div>
                </td>
                <td>
                    {{#each categories}}
                        <div> {{name}} </div>
                    {{/each}}
                </td>
                <td>
                    <a href={{thumbnailURL}}>
                        <img alt="poi thumbnail" src={{thumbnailURL}} width="150" height="70">
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</article>
