<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/globe.jpg" class="ui large image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Contributer</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                {{#each pointsOfInterest}}
                    <tr>
                        <td> {{name}} </td>
                        <td> {{description}} </td>
                        <td> {{contributer.firstName}} {{contributer.lastName}} </td>
                        <td>
                            <a href={{imageURL}}>
                                <img alt="poi thumbnail" src={{imageURL}} width="150" height="70">
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>