{{> mainmenu _id="report" }}

<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui eight wide column">
            <div class="ui stacked fluid form segment">
                <h3 class="ui header">{{poi.name}}</h3>
                <div class="field">
                    <label>Name</label> <input class="ui transparent input" value="{{poi.name}}" type="text" name="name" readonly>
                </div>
                <div class="field">
                    <label>Description</label> <input class="ui transparent input" value="{{poi.description}}" type="text" name="description" readonly>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Latitude</label>
                        <input class="ui transparent input" value="{{poi.location.lat}}" type="number" name="lat" readonly>
                    </div>
                    <div class="field">
                        <label>Longitude</label>
                        <input class="ui transparent input" value="{{poi.location.lon}}" type="number" name="lon" readonly>
                    </div>
                </div>
                <div class="field">
                    <label>Image URL</label>
                    <input class="ui transparent input" value="{{poi.imageURL}}" type="text" name="imageURL" readonly>
                </div>
                <div class="field">
                    <label>Contributor</label>
                    <input class="ui transparent input" value="{{poi.contributor.firstName}} {{poi.contributor.lastName}}" type="text" name="contributor" readonly>
                </div>
                <br>
                <div class="field">
                    <label>Categories</label>
                    <table class="ui celled table segment">
                        <thead>
                        </thead>
                        <tbody>
                            {{#each poi.categories}}
                                <tr>
                                    <td>
                                        <div>{{this}}</div>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <br>
                {{#unless user.isAdmin}}
                    {{#ifEquals compare}}
                        <form action="/updatepoi/{{poi._id}}" method="GET">
                            <button class="ui blue submit button">Edit POI</button>
                        </form>
                    {{/ifEquals}}
                {{/unless}}
                {{#if user.isAdmin}}
                    <form action="/updatepoi/{{poi._id}}" method="GET">
                        <button class="ui blue submit button">Edit POI</button>
                    </form>
                {{/if}}
            </div>
        </div>
        <aside class="ui eight wide column">
            <a href="{{thumbnail}}">
                <img src="{{thumbnail}}" class="ui huge image">
            </a>
            <br>
            {{> imagegallery}}
        </aside>
    </div>
</section>